*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
max-width:100vw; 
min-height:100vh;
border: 5px solid green;
display: flex;
justify-content: center;
align-items: center;
}

button{
  border:3px solid green;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  padding:5rem;
}


