*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
width: vw; /* Adjusts with viewport */ 
height: 30rem;
border: 2px solid green;
margin: 3rem 0rem 0rem 0rem;
background-color: rebeccapurple;
display: flex;
gap: 1rem;
}

.box{
  flex-basis: 5rem;
  height: 5rem;
  border: 2px solid yellow;
}

.box:nth-child(3){
  flex-basis: 10rem;
  width: 10rem;
}