*{
    margin: 0;
    padding: 0;
    
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
 
  }
  

.boxOne{
    height: 10rem;
    width: 10rem;
    background-color: yellow;
    padding: 1rem;
    

}
.boxTwo{
    height: 10rem;
    width: 10rem;
    box-sizing: ;
    background-color: red;
    padding: 1rem;

}