*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background-color: white;
}

.wrapper.active{
  background-color: black;
}

.header {
  max-width: 100vw;
  background-color: #5d8bf4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav-bar,
.nav-links {
  display: flex;
  text-align: center;
}

.nav-bar,
.nav-links,
li,
a {
  text-decoration: none;
  list-style: none;
  gap: 4rem;
  align-self: center;
  font-weight: 500;
}

.theme-toggle {
  align-self: center;
}

#theme-toggle-button {
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.hamburger {
  align-self: center;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 1rem 0;
    background-color: #5d8bf4;
  }
  .nav-links {
    flex-direction: column; /* Stack items vertically */
    gap: 1rem;
    padding: 0;
  }
  .hamburger {
    display: block;
    margin-right: 1rem;
  }

  .nav-bar.active {
    display: flex;
    flex-direction: column;
  }
}
